<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#"> <b>Git</b>View </a>
</nav>

<div class="container">
  <!-- Content here -->
  <div class="jumbotron">
    <h4>{{username}}/{{repo}}</h4>
    <p class="lead">
      This is a simple web Appliaction to show git commit history for this
      project
    </p>
    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <input
            type="text"
            [(ngModel)]="username"
            name="username"
            class="form-control"
            placeholder="User name"
          />
        </div>
        <div class="form-group col-md-6">
          <input
            type="text"
            [(ngModel)]="repo"
            name="repo"
            class="form-control"
            placeholder="Repository name"
          />
        </div>
      </div>
      <div class="form-row">
        <a
          class="btn btn-primary btn-lg"
          (click)="getRepoCommit()"
          role="button"
          >Show commit</a
        >
        <div class="spinner" *ngIf="showSpinner">
          <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
    </form>
  </div>

  <ul class="list-unstyled">
    <li class="media" *ngFor="let commit of commitList; index as i">
      <img
        [src]="
          commit.author ? commit.author.avatar_url : '../assets/default.png'
        "
        width="64px"
        class="avatar mr-3"
      />
      <div class="media-body">
        <h5 class="mt-0 mb-1">
          {{ commit.commit.message | slice: 0:80 }}
          {{ commit.commit.message.length > 80 ? "..." : "" }}
        </h5>
        {{ commit.committer.login }} committed on
        {{ commit.commit.committer.date | date }}
      </div>
    </li>
    <li class="media" *ngIf="!commitList.length">
      <div class="media-body">
        <h5 class="mt-0 mb-1">No commit found</h5>
      </div>
    </li>
  </ul>
</div>
